<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.worldpay.access.checkout">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <receiver
                android:name="com.worldpay.access.checkout.api.SessionReceiver"
                android:enabled="true"
                android:exported="false"/>

        <service
                android:name="com.worldpay.access.checkout.api.SessionRequestService"
                android:enabled="true"
                android:exported="false">
        </service>
    </application>

</manifest>